* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}
::selection{
    background-color: #249688;
    color: white;
}
#color_azul {
    background-color: #249688;
    width: 100%;
    height: 210px;
}

body {
    background-color: #DADBD4;
}

#cuadrado_blanco {
    box-shadow: 0px 5px 26px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 5px 26px 0px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 5px 26px 0px rgba(0,0,0,0.75);
    padding: 3%;
    position: relative;
    top: -42px;
    border-radius: 2px;
    background-color: white;
    width: 59%;
    margin: 0 auto;
    height: 511px;
}

.centrado {
    /*    background-color: skyblue;*/
    margin: 0 auto;
    padding-top: 69px;
    width: 667px;
    height: 539px;
}

.qr_what {
    margin: 0px 72px 39px 0px;
    float: left;
    width: 34%;
}

h1 {
    padding-top: 20px;
    font-weight: 300;
    font-size: 28px;
    padding-bottom: 4px;
}

#bajo_h1 {
    padding-right: 76px;
    font-weight: 300;
    padding-bottom: 7px;
}

form {
    float: left;
    margin-right: 61px;
    width: 42%;
}

h3 {
    font-size: 13px;
    padding-bottom: 7px;
    color: #249688;
}

input[type="text"],
input[type="password"] {
    border-radius: 3px;
    border: 1px solid #249688;
    padding-bottom: 7px;
    margin-bottom: 7px;
    width: 100%;
}
input[type="text"]:focus,
input[type="password"]:focus {
    background-color: #76c3b9;
    border: 1px solid #76c3b9;
    outline: none;
}
button {
    background-color: #249688;
    padding: 0px 19px;
    color: white;
    border-radius: 3px;
    border: 1px solid #249688;
    margin-top: 6px;

}
button:hover{
    outline: none;
    border: 1px solid #34cebb;
    background-color: #34cebb;
}
#bajo_formulario {
    font-size: 11px;
    padding-top: 145px;
    padding-right: 89px;
    padding-bottom: 10px;
}

.orden_iconos {
    float: left;
    width: 46%;
    padding-bottom: 18px;
}
.orden_iconos:hover{
    position: relative;
    top: -9px;
}
.color_verde_iconos {
    float: left;
    background-color: #4bc359;
    height: 40px;
    width: 40px;
    background-image: url(../img/iconos.png);
    background-size: cover;
    background-position: center;
    background-position: left -26px;
    border-radius: 30px;
}

.color_verde_iconos_2 {
    float: left;
    background-color: #4bc359;
    height: 40px;
    width: 40px;
    background-image: url(../img/iconos.png);
    background-position: center;
    background-size: cover;
    background-position: left 4px;
    border-radius: 30px;
}

.color_verde_iconos_3 {
    float: left;
    background-color: #4bc359;
    height: 40px;
    width: 40px;
    background-image: url(../img/iconos.png);
    background-position: center;
    background-size: cover;
    background-position: left -57px;
    border-radius: 30px;
}

.color_verde_iconos_3:hover,
.color_verde_iconos_2:hover,
.color_verde_iconos:hover {
    background-color: #60e26f;
}

h5 {
    padding-top: 6px;
    font-size: 11px;
    padding-left: 54px;
}

.orden_iconos p {
    font-size: 10px;
    padding-left: 54px;
    padding-right: 43px;
}



/*980 px o menos*/

@media screen and (max-width: 1067px) {

    #cuadrado_blanco {
        padding: 3%;
        position: relative;
        top: -42px;
        border-radius: 2px;
        background-color: white;
        width: 59%;
        margin: 0 auto;
        height: 787px;
    }

    .qr_what {
        margin: 0 auto;
        width: 567px;
        padding: 0px 174px;
    }

    h1 {
        padding-left: 54px;
        padding-top: 234px;
        font-weight: 300;
        font-size: 28px;
        padding-bottom: 4px;
    }

    #bajo_h1 {
        padding-left: 54px;
        padding-right: 76px;
        font-weight: 300;
        padding-bottom: 7px;
    }

    form {
        padding-left: 54px;
        float: left;
        margin-right: 61px;
        width: 42%;
    }

    h3 {
        font-size: 13px;
        padding-bottom: 7px;
        color: #249688;
    }

    input[type="text"],
    input[type="password"] {
        border-radius: 3px;
        border: 1px solid #249688;
        padding-bottom: 7px;
        margin-bottom: 7px;
        width: 182%;
    }

    #bajo_formulario {
        padding-left: 54px;
        font-size: 11px;
        padding-top: 145px;
        padding-right: 89px;
        padding-bottom: 29px;
    }

    .orden_iconos {
        padding-left: 54px;
        clear: both;
        width: 77%;
        padding-bottom: 26px;
    }

    h5 {
        padding-top: 6px;
        font-size: 16px;
    }

    .orden_iconos p {
        font-size: 14px;
        padding-left: 54px;


    }
}

/*768px o menos*/

@media screen and (max-width: 914px) {

    #color_azul {
        background-color: #249688;
        width: 111%;
        height: 210px;
    }

    .qr_what {
        padding-left: 18px;
        width: 381px;
        position: relative;
        left: 86px;
    }

    h1 {
        padding-left: 16px;
        padding-top: 234px;
        font-weight: 300;
        font-size: 28px;
        padding-bottom: 4px;
    }

    #bajo_h1 {
        padding-left: 16px;
        padding-right: 76px;
        font-weight: 300;
        padding-bottom: 7px;
    }

    form {
        padding-left: 16px;
        float: left;
        margin-right: 61px;
        width: 35%;
    }

    h3 {
        font-size: 13px;
        padding-bottom: 7px;
        color: #249688;
    }

    input[type="text"],
    input[type="password"] {
        border-radius: 3px;
        border: 1px solid #249688;
        padding-bottom: 7px;
        margin-bottom: 7px;
        width: 182%;
    }

    #bajo_formulario {
        padding-left: 16px;
        font-size: 11px;
        padding-top: 145px;
        padding-right: 89px;
        padding-bottom: 29px;
    }

    .orden_iconos {
        padding-left: 16px;
        clear: both;
        width: 77%;
        padding-bottom: 26px;
    }

    h5 {
        padding-top: 6px;
        font-size: 16px;
    }

    .orden_iconos p {
        font-size: 14px;
        padding-left: 54px;


    }

}

/*480px o menos*/
@media screen and (max-width: 764px) {
    body{
        background-image: url(../img/fondo.png);
    }
    .qr_what {
        position: relative;
        left: 30px;
        width: 387px;
    }

    #color_azul {
        display: none;
    }

    #cuadrado_blanco {
        margin:0 auto;
        width: 316px;
        height: 899px;
    }

    h1 {
        padding-left: 3px;
        padding-top: 234px;
        font-weight: 300;
        font-size: 28px;
        padding-bottom: 4px;
    }

    #bajo_h1 {
        padding-left: 3px;
        font-size: 12px;
    }

    form {
        padding-left: 3px;
        float: left;
        margin-right: 61px;
        width: 23%;
    }

    h3 {
        font-size: 13px;
        padding-bottom: 7px;
        color: #249688;
    }


    #bajo_formulario {
        padding-left: 3px;
        font-size: 11px;
        padding-top: 145px;
        padding-right: 379px;
        padding-bottom: 29px;
    }

    .orden_iconos {
        padding-left: 3px;
        width: 77%;
        padding-bottom: 26px;
    }

    h5 {
        clear: both;
        padding-top: 6px;
        padding-left: 3px;
        font-size: 16px;
    }

    .orden_iconos p {
        font-size: 11px;
        padding-left: 3px;
    }

}
